@model AviPriceUI.Models.CellMatrix

<tr>
    <td>
        @Html.DisplayFor(modelItem => Model.IdCategoryNavigation.Name)
        <input asp-for="@Model.IdCategory" type="hidden" />
        <input asp-for="@Model.IdMatrix" type="hidden" />
        <input asp-for="@Model.IdCellMatrix" type="hidden" />
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.IdLocationNavigation.Name)
        <input asp-for="@Model.IdLocation" type="hidden" />
    </td>
    <td>
        <input asp-for="@Model.Price" />
    </td>
    <td>
        <a asp-action="Edit" asp-route-id="@Model.IdCellMatrix">Edit</a> |
        <a asp-action="Details" asp-route-id="@Model.IdCellMatrix">Details</a> |
        <a asp-action="Delete" asp-route-id="@Model.IdCellMatrix">Delete</a>
    </td>
</tr>