@model Matrix

<tr>
    <td>
        <input asp-for="@Model.IsSelected" type="checkbox" />
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.Name)
        <input asp-for="@Model.Name" type="hidden" />
        <input asp-for="@Model.IdMatrix" type="hidden" />
    </td>
    <td>
        @if (Model.IdUserSegmentNavigation != null)
        {
            @Html.DisplayFor(modelItem => Model.IdUserSegmentNavigation.Name)
            <input asp-for="@Model.IdUserSegmentNavigation.Name" type="hidden" />
        }
    </td>
    <td>
        <a asp-controller="CellMatrices" asp-action="IndexNotEdit" asp-route-id="@Model.IdMatrix">Подробности</a>
    </td>
</tr>