@model AviPriceUI.Models.CellMatricesViewModel

@{
    ViewData["Title"] = Model.MatrixName;
}

<h1>@Model.MatrixName</h1>
<hr />

<form asp-action="Index">
  
    <div class="form-group">
<p>
    <input name="submitButton" value="Добавить цену" type="submit"/>
</p>
    <div class="form-group">
    <input name="submitButton" type="submit" value="Сохранить" class="btn btn-primary" />
    <span class="text-danger">@Model.ErrorMessage</span>
    </div>
    @if(Model.IdUserSegment == 0)
    {
        <div class="form-group">
                        <label asp-for="@Model.IdUserSegment" class="control-label"></label>
                        <select asp-for="IdUserSegment" class="form-control" asp-items="ViewBag.IdUserSegment"></select>
        </div>
    }
    else
    {
        <input asp-for="@Model.IdUserSegment" type="hidden" />
    } 
    <div class="form-group">
    <table class="table">
    <thead>
        <tr>
            <th>
                <label class="text-black">Категория</label>
            </th>
            <th>
                    <label class="text-black">Локация</label>
			</th>
			<th>
                    <label class="text-black">Цена</label>
			</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @Html.EditorFor(model => Model.CellMatrices)
    </tbody>
</table>    
</div>
</div>
</form>