@model AviPriceUI.Models.CellMatricesViewModel

@{
    ViewData["Title"] = Model.MatrixName;
}

<h1>@Model.MatrixName</h1>
<hr />

<form asp-action="Index">
  
    <div class="form-group">
<p>
    <input name="submitButton" value="Добавить цену" class="btn btn-secondary" type="submit"/>
</p>

    <div class="form-group">
    <input name="submitButton" type="submit" value="Сохранить" class="btn btn-primary" />
    <span class="text-danger">@Model.ErrorMessage</span>
		</div>
    @if(Model.IdUserSegment == 0)
    {
        <div class="form-group">
            <label asp-for="@Model.IdUserSegment" class="control-label"></label>
            <select asp-for="IdUserSegment" class="form-control" asp-items="ViewBag.IdUserSegment"></select>
            </div>
            <br />
    }
    else
    {
        <br />
        <input asp-for="@Model.IdUserSegment" type="hidden" />
    }
        <div class="row">
        <div class="col-md-3 d-flex">
                <input asp-for="SearchCategoryText" type="text" class="form-control" placeholder="Поиск...">
                <input type="submit" name="submitButton" class="btn btn-primary" value="Искать" />
        </div>
        <div class="col-md-3 d-flex">
            <input asp-for="SearchLocationText" type="text" class="form-control" placeholder="Поиск...">
                <input type="submit" name="submitButton" class="btn btn-primary" value="Искать"/>
        </div>
        </div>
        @if(Model.PageCount > 1)
        {
            <div style="display: flex; flex-wrap: wrap; justify-content: center;">
                    @for(int i = 1; i <= Model.PageCount; i++)
                    {
                    <input type="submit" name="submitButton" class="btn btn-link btn-block" value="@i" />
                    }
		    </div>
		}
    <div class="form-group">
    <table class="table">
    <thead>
        <tr>
            <th>
                <label class="text-black">Категория</label>
            </th>
            <th>
                    <label class="text-black">Локация</label>
			</th>
			<th>
                    <label class="text-black">Цена</label>
			</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @Html.EditorFor(model => Model.CellMatrices)
    </tbody>
</table>    
</div>
</div>
</form>